::root {
    --main-color: #000;
    --decoration-color: #F2994A;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto;
}

body::after{
    width: 8vw;
    content: "";
    display: block;
    position: absolute;
    left: 14%;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #F9F9F9;
}

body section:nth-child(1) {
    margin: 0 9%;
    padding-top: 55px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: var(--main-color);
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 2px;
}

nav {
    display: flex;
    column-gap: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

nav>a {
    text-decoration: none;
    color: var(--main-color);
}

nav>a:hover::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 7px;
    height: 7px;
    background-color: #F2994A;
    border-radius: 50%;
}

.search{
    display: flex;
    align-items: center;
}

.search button {
    border: none;
    background-color: transparent;
}

.search input{
    border: none;
    background-color: transparent;
    height: 30px;
}
input::placeholder{
    color: var(--main-color);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-left: 50px;
}


.container {
    display: flex;
    justify-content: space-between;
    padding-top: 115px;
}

.img {
    width: 420px;
    height: 533px;
}

.info {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #333;
    padding-right: 100px;
}

.info>h3 {
    color: #F2994A;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.info>h1 {
    width: 553px;
    color: var(--main-color);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 65px;
    font-weight: 700;
    margin: 0;
}

.info>p::before {
    content: "";
    display: flex;
    width: 188px;
    height: 6px;
    border-radius: 4px;
    background: #F2994A;
    margin-top: 3px;
    margin-bottom: 24px;
}


.info>p {
    width: 421px;
    color: #4F4F4F;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.play {
    border-right: none;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.watch{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.watch i{
    color: #3F9AB7;
}
.watch p{
    color: #000;
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 700;
}
.social{
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.social>a {
    text-decoration: none;
    color: var(--main-color);
}

.social>a:hover{
    color: #F2994A;
}

footer{
    background-color: #3F9AB7;
    height: 118px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 35px;
}
.head{
    position: relative;
    min-width: 200px;
    bottom: 30px;
}
.unit3{
    position: absolute;
    padding-left: 78px;
    bottom: 0px;
    top: 0;
}
.unit2{
    position: absolute;
    padding-left: 116px;
}
.unit1{
    position: absolute;
    padding-left: 150px;
}
.client p{
    color: var(--white, #FFF);
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 400;
}
.client b{
    color: var(--white, #FFF);
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 700;
}

@media screen and (max-width:1000px) {
    body section:nth-child(1){
        margin: 0 20px;
        padding-top: 20px;
    }
    img{
        width: 300px;
        margin: 0 auto;
    }
    .info{
        margin-left: 30px;
    }
    .nav{
       flex-direction: column;
    }
    .head{
        position: relative;
        min-width: 50px;
        bottom: 30px;
    }

    .info>p {
        width: 221px;
        font-size: 14px;
    }

    .info>p::before {
        content: "";
        display: flex;
        width: 100px;
        height: 6px;
    }

    .info>h3 {
        font-size: 18px;
        font-weight: 400;
    }
    
    .info>h1 {
        width: 253px;
        font-size: 35px;
        font-weight: 400;
    }
    .watch {
        width: 100px;
        height: 100px;
    }
    .head{
        display: none;
    }
}

@media screen and (max-width:500px) {
    header{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    nav{
       flex-direction: column;
    }
    .logo h1{
        margin: 0;
    }
    input::placeholder{
        padding-left: 40px;
    }
    img{
        width: 300px;
        margin: 0 auto;
    }
    .info{
        margin: 0 auto;
    }
    .info>h3{
        font-size: 20px;
        margin: 0 auto;
    }
    .info>h1{
        font-size: 30px;
        width: auto;
    }
    .info>p{
        font-size: 16px;
        width: auto;
    }
    .head{
        display: none;
    }
}