body {
    width: 100%;
}


header {
    justify-content: center;
    align-items: center;
    background-color: #668E68;
    color: #fff;
}

.navbar-brand {
    color: #FFF;
}

.nav-link active {
    color: #FFF;
}

.navbar-nav {
   column-gap: 20px;
}
.coffe {
    background-image: url(coffee.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 30rem;
}


.coffe-text h3 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.70);
    font-family: Shadows Into Light;
    font-size: 6.875rem;
    color: #FFF;
    position: relative;
    top: 120px;
    
}

.menu {
    min-height: 51rem;
}

.menu-txt {
    font-family: Shadows Into Light;
    text-align: center;
    margin-bottom:  0px;
    font-size: 2.5rem;
    
}

.menu-txt p:nth-child(2) {
    margin-top: 0;
    font-size: 1.25rem;
}

.menu-con{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.menu-text {
    display: flex;
    column-gap: 69px;
    justify-content: space-evenly;
    position: absolute;
    bottom: -310px;
}

.namefood{
    color: #000;
    margin-bottom: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.80);
    width: 18.75rem;
    height: 4.875rem;
    font-size: 1.625rem;
}

.menu img {
    position: relative;
    width: 21.875rem;
    height: 21.875rem;
    border-radius: 12.5rem;
    border: 9px solid #81613B;
}



.menu {
    text-align: center;
}

button {
    color: #FFF;
    background: #668E68;
    border: none;
    margin-top: 50px;
    border-radius: 20px;
    width: 10rem;
    height: 2.5rem;
}
button:hover,
.btn1:hover {
    transition: 1s;
    background-color: darkgreen;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.70);
}


.btn1{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Noto Serif HK', serif;
    background-color: #668E68;
    width: 160px;
    height: 40px;
    margin: 0 auto;
    margin-top: 39px;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: #FFF;
    padding-top: 7px;
}
.about{
    background-image: url(cafe1.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}



.txtabout p{
    width: 367px;
    margin: 0 auto;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.70);
    font-weight: 500;
    font-family: 'Noto Serif HK', serif;
    padding-bottom: 30px;
    padding-top: 50px;
}
.nmabout{
    width: 10rem;
    margin: 0 auto;
    font-family: Shadows Into Light;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.70);
    padding-top: 120px;
}

.nmabout span {
    font-size: 1.25rem;
}

.news{
    padding-top: 5rem;
    min-height: 406px;
    background: rgba(129, 97, 59, 0.20);
}

.news-menu {
    width: 120px;
    margin: 0 auto;
    color: #000;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    padding-bottom: 40px;
}

.news-menu span {
    font-size: 24px;
}

.newstxt{
    min-height: 102px;
}
.numbernew{
    padding-top: 20px;
    font-size: 16px;
}
.numbernew span{
    padding-right: 30px;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Noto Serif Georgian', serif;
}
.secondnew{
    padding-top: 0;
}

.container-foot {
    padding: 1.25rem 25.375rem 5.3125rem 25.4375rem;
}

footer{
    margin-top: 50px;
    background-color: #000;
    min-height: 180px;
    font-family: 'Noto Serif Georgian', serif;
}
.contacts{
    padding-top: 20px;
}
.contacts p{
    width: 185px;
    font-size: 16px;
    font-weight: 500;
}
.reserved{
    padding-top: 20px;
}

@media screen and (max-width: 500px){
    .coffe-text h3{
        font-size: 3.125rem;
        top: 10px;
    }

    .coffe {
        margin: 0;
        min-height: 15rem;
    }
    
    .menu img {
        width: 18rem;
        height: 18rem;
    }

    .menu-con{
        padding-top: 10px;
        column-gap: 5px;
        display: flex;
        flex-direction: column;
    }
    
    .txtabout p{
        width: 300px;
        font-size: 20px;
    }

    button {
        color: #FFF;
        background: #668E68;
        border: none;
        margin-top: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 12rem;
        height: 2.5rem;
    }

    .btn1{
        margin-bottom: 50px;
    }

    .newsnews {
        display: flex;
        justify-content: center
    }

    .newstxt {
        display: flex;
        flex-direction: column;
        width: 22.375rem;
    }


    .container-foot{
        display: inline-flex;
    padding: 1.25rem 3.25rem;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2.9375rem;
    }

    .menu-text {
        display: inline-flex;
        flex-direction: column-reverse;
        top: 58rem;
        right: 6rem;
        row-gap: 13rem;;
        max-width: 18.75rem;
    }
}

