* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    display: block;
    background-color: #ccc;
}

.dia {
    background-color: black;
    width: 512px;
    height: 512px;
    padding: 128.641px 101.279px 109px 101px;
    align-items: center;
    justify-content: flex-end;
}

.flag {
    width: 80px;
    height: 60px;
    border-radius: 6px;
    background: rgb(255,206,34);
    background: linear-gradient(0deg, rgba(255,206,34,1) 50%, rgba(33,55,252,1) 50%);
    margin: 30px auto;
}

.line {
    position: absolute;
    top: 395px;
    left: 900px;
    background-color: rgb(255,206,34);
    width: 512px;
    height: 512px;

    z-index: 1;
}

.blue {
    width: 512px;
    height: 271.5px;
    z-index: 1;
}

.flag2 {
    position: absolute;
    top: 144px;
    left: 52.61px;
    transform: rotate(-0.30deg);
    flex-shrink: 0;
}

.last {
    position: absolute;
    top: 400px;
    left: 80%;
    width: 512px;
    height: 512px;
    background-color: #fff;
    border-top: 2px solid rgba(33,55,252,1);
    border-bottom: 2px solid rgba(33,55,252,1);
    align-content: center;
}

.yellow {
    border-radius: 444px;
    background-color: rgb(255,206,34);
    width: 444px;
    height: 444px;
    margin: 34px auto;
}

.grid {
    width: 358.441px;
    height: 203.74px;
    transform: rotate(-1.89deg);
    flex-shrink: 0;
}